// Variables para colores
$color-menu-bg: #f5f5f5;
$color-menu-text: #333;
$color-menu-item-hover: #e0e0e0;

// Estilos para el menú tipo Windows
.windows-menu {
  background-color: $color-menu-bg;
  padding: 8px 20px;
  display: flex;
  justify-content: flex-start;
}

.menu-item {
  color: $color-menu-text;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: $color-menu-item-hover;
  }

  &:not(:last-child) {
    margin-right: 20px;
  }
}
.app-root {
  height: 100%;
}
