/* You can add global styles to this file, and also import other style files */
:host {
  display: block;
  height: 100vh;
  width: 100vw;
}

:root {
  --primary-color: #8db9c8; // Color principal
  --secondary-color: #98e7e7; // Color secundario
  --text-color: #000000; // Color del texto
}
body {
  background-color: var(--secondary-color);
}

router-outlet {
  display: block;
}
* {
  margin: 0;
}

body,
html,
my-app {
  height: 100%;
}
